# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# force detection when autodetect fails
MY_DETECT=your-cluster
## GitHub credentials
# to access github AND also as a generic identity to tag vms
GITHUB_USER=user
GITHUB_TOKEN=token
## AWS parameters
# access
AWS_ACCESS_KEY_ID=the-aws-id
AWS_SECRET_ACCESS_KEY=the-aws-key
AWS_DEFAULT_REGION=the-aws-region
# used to build a vm in the choosen region
AWS_AMI_ID_UBUNTU=ami-id-of-ubuntu-in-your-region
# used only for opewhisk builds
AWS_BUCKET=a-bucket-to-store-logs
# real home outside your docker container 
REAL_HOME=your-actual-directory-outside-of-the-container
# linode token
LINODE_CLI_TOKEN=linode-token-from-dashboard
# if you want to push your custom image to push in your repo
MY_OPERATOR_IMAGE=user/nuvolaris-operator
# a slack incoming webhook to write messages
SLACK_WEBOOK=your-slack-webhook
# ip or hostname and ssh user with sudo of a server running ubuntu 22
# accessible with clusters/id_rsa.pub to install k3s 
K3S_HOST=your.k3s.host
K3S_USER=ubuntu
# openshift
OPENSHIFT_APPS=apps.wfx.sciabarra.net
OPENSHIFT_API=https://api.wfx.sciabarra.net:6443
OPENSHIFT_USER=kubeadmin
OPENSHIFT_REGISTRY=default-route-openshift-image-registry.apps.wfx.sciabarra.net
OPENSHIFT_PASSWORD=your-openshift-password

